body {
    background-color: #F1EFE3;
    text-align:center;
    color: white;
}

h1 {
    color: #EDA005;
    font-size: 50px;
    text-shadow:8px 0px 15px #F0BA4D;
    margin: 2%;
}

h2 {
    color:#EDA005;
    font-size: 18px;
    margin: 1%;
}

h3, label {
    color:#EDA005;
    font-size: 16px;
}

p {
    color:#F0BA4D;
    font-size: 14px;
    margin: 0.2%;
}

#div_background {
    
}

#content {
    margin:auto;
}

button{
    background-color:#EDA005;
    stroke:#EDA005;
    color:#F1EFE3;
    width:170px;
    height: 50px;
    border-radius: 20px;
    border: none;
    font-size:20px;
    margin: 1%;
}

input[type=text]{
    border: none;
    border-radius: 20px;
    width: 200px;
    height: 20px;
}

input:focus{
    border:0px;
}

button:hover{
    box-shadow: 8px 0px 15px 0 #F0BA4D;
}

.margin-top{
    margin-top:5%;
}
.margin-bottom{
    margin-bottom:5%;
}

